body {
 background-color:  #99ccff;
 font-family: Arial, Helvetica, sans-serif;
}
.answer {
 display: none;
}

p.one {
  border-style: solid;
  border-color: black;
}
h1 {text-align: center; font-family:courier;}

* {
  box-sizing: border-box;
}


header {
  background-color: #a1c942;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}




article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #6acc84;
  height: 350px; 
}


section::after {
  content: " ";
  display: table;
  clear: both;
 
}

footer {
  background-color: #90918a;
  padding: 13px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

img {

 float: left;
  width: 30%;
  height: 350px; 
  background: #777;
  padding: 20px;
}

h1 {text-align: center ;}
h2 {text-align: center;}
h3{ text-align: center;}


.myDiv {
  border: 5px outset purple;
  background-color: lightblue;    
  text-align: center;
  height: auto; 
  width: 500px; 
  margin: auto;
}



.myDiv2 {
  border: 5px outset purple;
  background-color: lightgreen;    
  text-align: center;
  height: auto; 
  width: 500px; 
  margin: auto;
}
