
  {% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Author{% endblock %}

{% block content %}

<h1>Author</h1>

    
   <h3>Select an author</h3>  
   
     <form action='/response'>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <input type="submit">
    </form>

  {% endblock %} 
  
