{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}homepage{% endblock %}

{% block content %}
    <!--page content-->
   <h2> Welcome to the Classics Data page! </h2>

<p> In this page you can find information about classics and information related to it. It includes information about the author, the date in which the classsic was published,
the main subjects of the classic, and its statistics</p>

<p>The data shown in this page can be found in the JSON Dataset .... </p> 
{% endblock %} 
  
  
    
    
    


