<!DOCTYPE html>
<html>
  <head> 
    <title>
      Classics Data
    </title> 
    
    
    <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href = "style.css" rel= "stylesheet">
    
    </head>
  <body>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="index.html">Homepage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html"<Classics Data</a>
      </li>
     <li class="nav-item">
      <a class="nav-link" href="title.html">Title</a>
     </li>
      <li class="nav-item">
        <a class="nav-link" href="author.html">Author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="subject.html">Subjects</a>
      </li>    
     <li class="nav-item">
      <a class="nav-link" href="year.html">Publication Date</a>
       </li>
    </ul>
  </div>  
</nav>
    

<h2> Welcome to the Classics Data page! </h2>

<p> In this page you can find information about classics and information related to it. It includes information about the author, the date in which the classsic was published,
the main subjects of the classic, and its statistics</p>

<p>The data shown in this page can be found in the JSON Dataset .... </p> 
  

  
  
  
    
    
    
   </body>
</html>
