<!DOCTYPE html>
<html>
  <head> 
    <title>
      Classics Data
    </title> 
    
    
    <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href = "style.css" rel= "stylesheet">
    
    </head>
  <body>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/p1">Homepage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
     <li class="nav-item">
      <a class="nav-link" href="/p3">Title</a>
     </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/p2">Subjects</a>
      </li>    
     <li class="nav-item">
      <a class="nav-link" href="/p4">Publication Date</a>
       </li>
    </ul>
  </div>  
</nav>
    
    
    <!--page content-->
    {% block content %}{% endblock %}
    
   </body>
</html>
